<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
		<style>
		.main{ 
	padding:20px; 
	font-family: 'Helvetica', serif; 
	box-shadow: 5px 5px 7px 5px #888888; 
	
} 
.main h1{ 
	font-size: 24px;
    font-style: italic;
    color: blue; 
	text-align:center; 
	font-family: 'Helvetica', serif; 
	
} 
input{ 
	font-family: 'Helvetica', serif; 
	width: 100%; 
	font-size: 20px; 
	padding: 12px 20px; 
	margin: 8px 0; 
	border: none; 
	border-bottom: 2px solid #767474; 
} 
input[type=submit] { 
	font-family: 'Helvetica', serif; 
	width: 100%; 
	background-color: #767474; 
	border: none; 
	color: white; 
	padding: 16px 32px; 
	margin: 4px 2px; 
	border-radius: 10px; 
} 
.main p {
        width: 400px;
        text-align:justify;
        background-color: #f0e68c;
        margin-top: 20px;
    
}
		</style>
	</head>
	<body>
   <br> 
    <br> 
    <br> 
    <div class="container" > 
        <div class="row"> 
        <div class="col-md-3"> 
                      
        </div> 
                  
        <div class="col-md-6 main"> 
                      
            <form action="/users/resttoken" method="post"> 
                      
            <h1> Reset Password!</h1> 
            <div class="flashes">
				<% if ( expressFlash.length > 0 ) { %>
					<div class="alert alert-danger alert-dismissible fade show">
						 <%= expressFlash %>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					<% } %>
					<% if ( sessionFlash && sessionFlash.message) { %>
					<div class="<%= sessionFlash.type %>">
						<strong>FLASH!</strong> <%= sessionFlash.message %>
					</div>
					<% } %>
			  </div>
                                        
            <input class="box" type="password" name="password" 
            id="password" placeholder="new Password " required/><br> 

            <input class="box" type="password" name="password" 
            id="password" placeholder="Confirm Password " required/><br> 
                              
                        <br> 
            <input type="submit" id="submitDetails"  
            name="submitDetails" value="update password" /><br> 
                      
            </form> 
            <div mt-20>
                <p><a href="/LogIn">Already have an account! click here to login!</a></p>
            </div>
        </div> 
         <div class="col-md-3"> 
        </div> 
                  
    </div> 
    </div> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	</body>
</html>
